
<%# <form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> %>

<div class="container">
<h1>Stupid Coaching</h1>
  <form class="row" action="/answer" data-turbo="false">
    <%# <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div> %>
    <label for="question">Ask your coach anything</label>
    <div class="col-11">
      <input type="text" class="form-control" id="question" name="question">
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary">Ask</button>
    </div>
  </form>
</div>
